{{define "title"}}新規エントリ投稿{{end}}

{{define "body"}}
<section>
  <header>
    <h1>新規エントリ投稿</h1>
    <p><a href="/my/blogs/{{.Blog.Path}}">ブログ詳細に戻る</a></p>
  </header>
  <section>
    <form method="POST" action="/my/blogs/{{.Blog.Path}}/entries/-/publish">
      <input type="hidden" name="csrf_token" value="{{.CsrfToken}}">
      <p><label>タイトル <input type="text" name="title"></label></p>
      <p><label>本文 <textarea name="body"></textarea></label></p>
      <p><input type="submit" value="投稿"></p>
    </form>
  </section>
</section>
{{end}}
