apiVersion: v1
kind: ServiceAccount
metadata:
  name: hatena-intern-2020-admin-user
  namespace: kubernetes-dashboard
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: hatena-intern-2020-admin-user
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: hatena-intern-2020-admin-user
  namespace: kubernetes-dashboard
